# Compiled source #
*.class
*.classpath
*.iml

# Intellij #
out
build
.idea
.gradle

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
dump*
/.idea
.settings/org.eclipse.core.resources.prefs
.classpath
.project
*.prefs
oa_budget_inner/.classpath
oa_commission_inner/.classpath
oa_customer_inner/.classpath
