<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byName" default-init-method="init" default-destroy-method="destroy">
	   
	<!-- <bean name="/taobao/callback" class="com.china.center.oa.payorder.TaobaoCallBackAction">
	</bean> -->
	
	<bean name="taoBaoTokenDAO" class="com.china.center.oa.finance.dao.impl.TaoBaoTokenDAOImpl"></bean>
		
</beans>
