<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byName" default-init-method="init" default-destroy-method="destroy">
	   
	<bean name="/payorder/queryPayOrder" class="com.china.center.oa.payorder.PayOrderAction">
	</bean>
	
	<bean name="/payorder/queryHisData" class="com.china.center.oa.payorder.NbBankQueryHisDataAction">
	</bean>
		
	<bean name="payOrderDao" id="payOrderDao" class="com.china.center.oa.finance.dao.impl.PayOrderDAOImpl" />
	
	<bean name="nbBankHisDataDao" id="nbBankHisDataDao" class="com.china.center.oa.finance.dao.impl.NbBankHisDataDAOImpl" />
	
	<bean name="nbBankHisBalanceDao" id="nbBankHisBalanceDao" class="com.china.center.oa.finance.dao.impl.NbBankHisBalanceDAOImpl" />
	
	<bean name="payOrderModifyDAO" id="payOrderModifyDAO" class="com.china.center.oa.finance.dao.impl.PayOrderModifyDAOImpl"></bean>
	
	<bean name="payOrderManager" id="payOrderManager" class="com.china.center.oa.tcp.manager.impl.PayOrderManagerImpl"></bean>
		
</beans>
