<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>SYSTEM CONFIG</comment>
	<entry key="db_name">uportal</entry>
	<entry key="jdbc.username">uportal</entry>
	<entry key="jdbc.password">Qwerty123789</entry>
	<entry key="templateFilePath">e:/oa_attachment/flow/template</entry>
	<entry key="instanceAttachmentRoot">e:/oa_attachment/flow/instance</entry>
	<entry key="makeAttachmentRoot">e:/oa_attachment/flow/make</entry>
	<entry key="instanceReadonlyAttachmentRoot">e:/oa_attachment/readonlyflow/instance</entry>
	<entry key="flowAtt">e:/oa_attachment/flowAtt</entry>
	<entry key="systemAtt">e:/oa_attachment/flow</entry>
	<entry key="mailAttchmentPath">e:/oa_attachment/mail</entry>
	<entry key="shippingAttachmentPath">e:/oa_attachment/shipping</entry>
	<entry key="tcpAttachmentPath">e:/oa_attachment/tcp</entry>
	<entry key="backPrePayAttachmentPath">e:/oa_attachment/backprepay</entry>
	<entry key="outBackAttachmentPath">e:/oa_attachment/outback</entry>	
	<entry key="invoiceinsAttachmentPath">e:/oa_attachment/invoiceins</entry>
	<entry key="outAttachmentPath">e:/oa_attachment/outAttachment</entry>
	<entry key="financeAttachmentPath">e:/oa_attachment/finance</entry>
	<entry key="productStore">e:/oa_attachment/product</entry>
	<entry key="stafferCreditStore">e:/oa_attachment/stafferCredit</entry>
	<entry key="bankStore">e:/oa_attachment/bank</entry>
	<entry key="script">e:/oa_attachment/script</entry>
	<entry key="picPath">e:/oa_attachment/picPath</entry>
	<entry key="feedbackCheck">e:/oa_attachment/feedbackCheck</entry>
	<entry key="db_bak">e:/oa_db_bak</entry>
	<entry key="froot">e:/oa_attachment/oa_froot</entry>
	<entry key="root_path">e:/oa_attachment</entry>
	<entry key="mysql_root">D:/Program Files/MySQL/MySQL Server 5.5/bin</entry>
	<entry key="picServerName">pic</entry>
	<entry key="editServerName">webdav</entry>
	<entry key="readonlyServerName">webdav2</entry>
	<entry key="businessManagerId">14</entry>
	<entry key="internal">300000</entry>
	<entry key="exNumber">6000324</entry>
	<entry key="sendSMSURL">http://127.0.0.1:8888/uportal/admin/index.jsp?MobilePhones=%s&amp;Content=%s&amp;MessageFlag=%s&amp;ModuleName=WebSms&amp;pwdpwd=yyoaCC&amp;ExNumber=%s</entry>
	<entry key="version">V5.01.20120301</entry>
	<entry key="httpServerIP">118.178.188.163</entry>
	<entry key="checkOrderWithoutCKBeginTime">2018-01-29</entry>
	<entry key="appName">永银ERP</entry>
</properties>
