<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName" default-init-method="init"
	default-destroy-method="destroy">
	<bean id="shipJobManager" class="com.china.center.oa.job.manager.impl.ShipJobManagerImpl" />

	<bean id="njShipJobManager" class="com.china.center.oa.job.manager.impl.NjShipJobManagerImpl" />

	<bean id="pfShipJobManager" class="com.china.center.oa.job.manager.impl.PfShipJobManagerImpl" />

	<bean id="xpShipJobManager" class="com.china.center.oa.job.manager.impl.XpShipJobManagerImpl" />

	<bean id="gsShipJobManager" class="com.china.center.oa.job.manager.impl.GsShipJobManagerImpl" />

	<bean id="xznsShipJobManager" class="com.china.center.oa.job.manager.impl.XznsShipJobManagerImpl" />

	<bean id="sailPriceJobManager" class="com.china.center.oa.job.manager.impl.SailPriceJobManagerImpl" />
	
	<bean id="nbBankPayOrderQueryJobManager" class="com.china.center.oa.job.manager.impl.NbBankPayOrderQueryImpl" />
</beans>
