<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-init-method="init"
	default-destroy-method="destroy">
	
	<bean id="jobManager" class="com.china.center.oa.job.manager.impl.JobManagerImpl" />

	<bean id="shipJobManager" class="com.china.center.oa.job.manager.impl.ShipJobManagerImpl" />

	<bean id="pfShipJobManager" class="com.china.center.oa.job.manager.impl.PfShipJobManagerImpl" />

	<bean id="xpShipJobManager" class="com.china.center.oa.job.manager.impl.XpShipJobManagerImpl" />
</beans>
